@import url('https://fonts.googleapis.com/css2?family=Simonetta:wght@400;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.underline-custom {
    position: relative;
    text-decoration: none;
  }
  
  .underline-custom::after {
    content: "";
    position: absolute;
    bottom: 1.5px; 
    left: 0;
    right: 0;
    height: 10px; 
    background-color: #ff606089; 
    border-radius: 5px; 
  }

  #subhero {
    font-family: 'Simonetta', serif;
    color: #dededeb8;
  }


  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .ticker {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: marquee 20s linear infinite;
  }
  